<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />

    <title>Document</title>
  </head>
  <body>
    <h1>Signup</h1>
    <form id="signupForm">
      <label>Username: </label>
      <input type="text" placeholder="Enter your name" name="username" />
      <label>Email: </label>
      <input type="email" placeholder="Enter your email" name="email" />
      <label>Password: </label>
      <input type="password" placeholder="Enter password" name="password" />

      <button type="submit">Signup</button>

      <a href="http://localhost:3000/login">login</a>
    </form>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/signup.js"></script>
  </body>
</html>
